<div class="container">
    <h1 class="text-center">CSV READER/UPLOADER</h1>
    <div class="text-center">
        <a href="/user/signin" class="btn btn-primary">Login</a>
        <a href="/user/signup" class="btn btn-success">Create new Account</a>
    </div>
</div>